Source: amethyst-games
Maintainer: Dean Serenevy <dean@serenevy.net>
Section: python
Priority: optional
Build-Depends: debhelper (>= 8), dh-python, python-all, python-setuptools, python3-all, python3-setuptools
X-Python-Version: >= 2.6
X-Python3-Version: >= 3.2
Standards-Version: 3.9.1

Package: python-amethyst-games
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, ${shlibs:Depends}, python-six, python-amethyst-core
Description: Game Engine Toolkit (Python 2)

Package: python3-amethyst-games
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, ${shlibs:Depends}, python3-six, python3-amethyst-core
Description: Game Engine Toolkit (Python 3)
